.footer {
  background-color: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop) {
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      width: 231px;
    }

    @media screen and (min-width: $desktop) {
      display: inline;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &__address {
    display: inline-block;
    font-style: inherit;
    color: var(--address-txt);
    margin-top: 20px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    color: var(--address-txt-contacts);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-txt-color);
  }

  &__social-net {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    width: 100%;

    @media screen and (min-width: $mobile) {
      width: 206px;
    }

    @media screen and (min-width: $tablet) {
      width: 206px;
    }

    @media screen and (min-width: $desktop) {
      display: inline;
      width: 206px;
      margin-left: 70px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--address-txt);
    margin-bottom: 20px;
  }

  &__social-net-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  &__social-net-link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--button-bg-color);
    }
  }

  &__social-icon {
    display: block;
    height: 20px;
    width: 20px;
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__social-net-link > &__social-icon {
    fill: var(--address-txt);
  }

  &__mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    width: 100%;

    @media screen and (min-width: $tablet) {
      width: 450px;
    }

    @media screen and (min-width: $desktop) {
      display: inline;
      width: 570px;
      margin-left: 93px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      line-height: 1.25;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    color: var(--address-txt);
    outline: none;

    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-bottom: 0;
    }
  }
}
