.header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}
