.hero {
  background-color: var(--accent-bg-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__overlay {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/index_sq_jpg/Hero/Hero_1x_480.jpg);
    background-color: #c4c4c4;
    background-position: center;
    background-size: 480px 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/index_sq_jpg/Hero/Hero_2x_480.jpg);
      }
    }

    @media screen and (min-width: $tablet) {
      max-width: 768px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;

      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/index_sq_jpg/Hero/Hero_1x_768.jpg);
      background-color: #c4c4c4;
      background-position: center;
      background-size: 768px 400px;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)
            ),
            url(../img/index_sq_jpg/Hero/Hero_2x_768.jpg);
        }
      }
    }

    @media screen and (min-width: $desktop) {
      max-width: 1600px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;

      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/index_sq_jpg/Hero/Hero_1x_1200.jpg);
      background-color: #c4c4c4;
      background-position: center;
      background-size: 1600px 600px;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)
            ),
            url(../img/index_sq_jpg/Hero/Hero_2x_1200.jpg);
        }
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--hero-txt-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
