.team {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__card {
    width: calc(100% - 30px);

    background-color: var(--team-card-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    padding: 30px 24px;
  }

  &__title {
    color: var(--title-txt-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__description {
    color: var(--primary-txt-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
  }

  // @media screen and (max-width: 767px) {
  //   &__thumb-mob {
  //     display: block;
  //   }
  //   &__thumb-tab,
  //   &__thumb-desk {
  //     display: none;
  //   }
  // }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;

    &__card {
      width: 354px;
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    &__card {
      width: 270px;

      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__info {
    padding: 30px 32px;
  }
}
