.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    &__item {
      margin-bottom: 15px;
      margin-right: 8px;
    }
    // &:last-child &__item {
    //   margin-right: 0;
    // }
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;

    &__item {
      margin-right: 8px;
      margin-bottom: 0;

      &:last-child &__item {
        margin-right: 0;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    margin-bottom: 50px;
    justify-content: center;

    &__item {
      margin-bottom: 0;
    }

    & &__item + &__item {
      margin-left: 8px;
    }
  }
}
