.portfolio-card {
  background-color: var(--portfolio-card-bg-color);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    box-shadow: transparent;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--address-txt);
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    /* display: block;
  content: ""; */
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-card__link:hover &,
    .portfolio-card__link:focus & {
      transform: translateY(0);
    }
  }

  &__info {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-txt-color);
    margin-bottom: 4px;
  }

  &__describtion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-txt-color);
  }
}

// .portfolio-info {
//   border: 1px solid #eeeeee;
//   border-top: none;
//   padding: 20px 24px;
// }

// .portfolio-list .title {
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: var(--title-txt-color);
//   margin-bottom: 4px;
// }

// .portfolio-descr {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;
//   color: var(--primary-txt-color);
// }

// .portfolio-card .link {
//   box-shadow: transparent;

//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .portfolio-card:nth-child(3n) {
//   margin-right: 0;
// }

// .portfolio-card:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }

// .portfolio-card .link:hover,
// .portfolio-card .link:focus {
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
// }

// .portfolio-thumb {
//   position: relative;
//   overflow: hidden;
// }

// .portfolio-overlay {
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   color: var(--address-txt);
//   padding: 63px 24px;
//   background: rgba(33, 150, 243, 0.9);
//   width: 100%;
//   height: 100%;
//   /* display: block;
//   content: ""; */
//   position: absolute;
//   top: 0;
//   left: 0;

//   transform: translateY(100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .portfolio-card .link:hover .portfolio-overlay,
// .portfolio-card .link:focus .portfolio-overlay {
//   transform: translateY(0);
// }
