.navigation__list {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-txt-color);
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}

.navigation__link--current {
  color: var(--accent-txt-color);

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;

    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

// .site-nav .link,
// .contacts-nav .link {
//   display: inline-block;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .site-nav .item:not(:last-child) {
//   margin-right: 50px;
// }

// .site-nav,
// .contacts-nav {
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

// .site-nav .link {
//   color: var(--title-txt-color);
//   position: relative;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .site-nav .link:hover,
// .site-nav .link:focus {
//   color: var(--accent-txt-color);
// }

// .site-nav .link.current {
//   color: var(--accent-txt-color);
// }

// .site-nav .link.current::after {
//   content: "";

//   position: absolute;
//   right: 0;
//   bottom: -1px;

//   display: block;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   background-color: currentColor;

//   opacity: 1;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
