.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__team {
    background-color: var(--team-bg-color);
  }

  &--no-padding {
    @media screen and (max-width: 1199px) {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 0;
      padding-bottom: 94px;
    }
  }
}
