.social-net {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

  &__item {
    height: 44px;
    width: 44px;
  }

  &__link {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--button-bg-color);
    }
  }

  &__icon {
    display: block;
    height: 20px;
    width: 20px;
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-net__link:hover &,
    .social-net__link:focus & {
      fill: var(--address-txt);
    }
  }
}

// .social-net-item {
//   height: 44px;
//   width: 44px;
// }

// .social-net-link {
//   display: flex;
//   height: 100%;
//   width: 100%;
//   border-radius: 50%;
//   justify-content: center;
//   align-items: center;
//   background-color: transparent;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social-net-link:hover,
// .social-net-link:focus {
//   background-color: var(--button-bg-color);
// }

// .social-net-link:hover .social-icon,
// .social-net-link:focus .social-icon {
//   fill: var(--address-txt);
// }

// .social-icon {
//   display: block;
//   height: 20px;
//   width: 20px;
//   fill: var(--icon-color);

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
