.title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-txt-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  &--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
