body {
  background-color: var(--primary-bg-color);
  color: var(--primary-txt-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}