:root {
  --logo-black-txt: #000000;
  --logo-white-txt: #ffffff;
  --primary-txt-color: #757575;
  --title-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --hero-txt-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --team-card-bg-color: #fff;
  --portfolio-card-bg-color: #fff;
  --address-txt: #fff;
  --address-txt-contacts: rgba(255, 255, 255, 0.6);
  --accent-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --button-bg-color: #2196f3;
  --button-bg-act-color: #188ce8;
  --button-txt-color: #ffffff;
  --button-filter-bg-color: #f5f4fa;
  --button-filter-txt-color: #000;
  --button-filter-bg-act-color: #2196f3;
  --icon-color: #afb1b8;
}
