.checkbox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__input:checked ~ &__icon-check {
    opacity: 1;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 430px;
    line-height: 1.71;
    cursor: pointer;
  }

  &__icon-check {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    display: block;
    fill: var(--title-txt-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      cursor: pointer;
      fill: var(--accent-txt-color);
    }
  }

  &__link {
    display: inline-block;
    color: var(--accent-txt-color);
    text-decoration: underline;
  }
}

// .checkbox input {
//   position: absolute;
//   opacity: 0;
// }

// .checkbox label {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   width: 425px;
//   line-height: 1.71;
//   cursor: pointer;
// }

// .icon-checkbox {
//   display: block;
//   fill: var(--title-txt-color);
//   /* margin-right: 8px; */

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .icon-checkbox:hover,
// .icon-checkbox:focus {
//   cursor: pointer;
//   fill: var(--accent-txt-color);
// }

// .icon-checkbox-check {
//   position: absolute;
//   display: block;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%);
//   opacity: 0;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .checkbox input:checked + .icon-checkbox-check {
//   opacity: 1;
// }

// .checkbox input:checked + .icon-checkbox-check {
//   opacity: 1;
// }

// .checkbox-link {
//   /* position: relative; */
//   display: inline-block;
//   /* margin-left: 4px; */
//   color: var(--accent-txt-color);
//   text-decoration: underline;
// }
