.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 448px;

  &__field {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;

    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-txt-color);
    margin-bottom: 4px;

    &:active &__input {
      outline: none;
    }
  }

  &__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 12px 11px 42px;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      cursor: pointer;
      border: 1px solid var(--accent-txt-color);
      outline: none;
    }

    .form__field:hover &,
    .form__field:focus & {
      cursor: pointer;
      border: 1px solid var(--accent-txt-color);
    }
  }

  &__input-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__input:hover + &,
    .form__input:focus + & {
      fill: var(--button-bg-color);
    }

    .form__field:hover &,
    .form__field:focus & {
      cursor: pointer;
      fill: var(--button-bg-color);
    }
  }

  &__comment-area {
    resize: none;
    width: 448px;
    height: 120px;

    font-family: inherit;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }

    &:hover,
    &:focus {
      cursor: pointer;
      border: 1px solid var(--button-bg-color);
    }
  }
}

// .form-field {
//   position: relative;
//   display: flex;
//   width: 100%;
//   flex-direction: column;
//   margin-bottom: 10px;
// }

// .form-input {
//   height: 40px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   padding: 11px 12px 11px 42px;
//   outline: none;

//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .input-icon {
//   position: absolute;
//   top: 50%;
//   left: 12px;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .form-field:hover .input-icon,
// .form-field:focus .input-icon {
//   cursor: pointer;
//   fill: var(--button-bg-color);
// }

// .form-field:hover .form-input,
// .form-field:focus .form-input {
//   cursor: pointer;
//   border: 1px solid var(--accent-txt-color);
// }

// .form-label:active .form-input {
//   outline: none;
// }

// .form-input:hover,
// .form-input:focus {
//   cursor: pointer;
//   border: 1px solid var(--accent-txt-color);
//   outline: none;
// }

// .form-input:hover + .input-icon,
// .form-input:focus + .input-icon {
//   fill: var(--button-bg-color);
// }

// .form-label {
//   font-size: 12px;
//   line-height: 1.16;
//   letter-spacing: 0.01em;
//   color: var(--primary-txt-color);
//   margin-bottom: 4px;
// }

// .comment-area:hover,
// .comment-area:focus {
//   cursor: pointer;
//   border: 1px solid var(--button-bg-color);
// }
